@import "../components/autocomplete.css";
@import "../components/last-updated.css";
@import "../components/external-links.css";
@import "../components/activity-item.css";
@import './infra-failures.css';
@import './system-activity.css';

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

/* Navbar container */
.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Navbar brand (title) */
.navbar-brand h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #fff;
}

/* Navbar links */
.navbar-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-links a:hover {
    background-color: #555;
    border-radius: 5px;
    color: #fff;
}

main .container {
    max-width: 1200px;
    padding: 20px;
}
